#lista {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

span {
  text-align: center;
}

/* Regola opzionale per allineare gli elementi al centro orizzontalmente */
.span {
  justify-content: center;
}