#lista {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: 50px;
  top:60%;
}

.element-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-left: 45px;
  
}

.list-img{
    margin: 1rem;
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: #fff;
    width: 240px;
    height: 216px;
}

.list-img:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

.Set-Name {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px;
  font-size: 1.3rem;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  max-width: 250px;
  font-weight: bold;
  overflow-wrap: normal; /* Per i browser più recenti */
  hyphens: auto; /* Per gestire la divisione delle parole */
}

/* Regola opzionale per allineare gli elementi al centro orizzontalmente */
.span {
  justify-content: center;
}



