.alert {
    position: absolute;
    top: 80px;
    right: 10px;
    /*transform: translate(-50%,0);*/
    width: 300px; 
    height: 40px; 
    padding: 2px; 
    font-size: 10px; 
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
  }
  
  
  .alertCheckbox {
    display: none;
  }
  
  :checked + .alert {
    display: none;
  }
  
  .alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
  }
  
  .alertClose {
    position: absolute;
    float: right;
    padding-top: 5px;
    color: black;
    right: 10px;
  }
  
  #close-img{
    width: 20px;
    position: absolute;
    right: -14px;
    top: -7px;
  }
  
  .clear {
    clear: both;
  }
  
  
  .success {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* per supportare alcuni browser più vecchi */
    background-color: #f771629a;
    color: #9A9;
    border: 1px solid black ;
  }
  

  @media screen and (max-width: 1000px) {
    .alert.success {
      position: absolute;
      top: 12%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;

    }
  

  }
  
 