.alert {
    position: fixed;
    top: 80px;
    right: 10px;
    /*transform: translate(-50%,0);*/
    width: 300px; 
    height: 40px; 
    padding: 2px; 
    font-size: 10px; 
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
  }
  
  
  .alertCheckbox {
    display: none;
  }
  
  :checked + .alert {
    display: none;
  }
  
  .alertText {
    display: table;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: black;
  }
  
  .alertClose {
    float: right;
    padding-top: 5px;
    font-size: 10px;
  }
  
  .clear {
    clear: both;
  }
  
  
  .success {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* per supportare alcuni browser più vecchi */
    background-color: rgba(52, 162, 182, 0.5); 
    color: #9A9;
    border: 1px solid black ;
  }
  

  @media screen and (max-width: 768px) {
    .alert {
      position: fixed;
      top: 85px;
      transform: translate(-24%,0);
      width: 300px; 
      height: 40px; 
      padding: 2px; 
      font-size: 10px; 
      margin: 10px;
      line-height: 1.8;
      border-radius: 5px;
      cursor: hand;
      cursor: pointer;
      font-family: sans-serif;
      font-weight: 400;
    }
  }
  
 